<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.es.uam.eps.dadm.mario_pantoja"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".Initial"
                         android:exported="false"
             
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        android:screenOrientation="portrait" 
        android:theme="@android:style/Theme.NoTitleBar"
        -->

        <activity
            android:name=".Session"
            android:exported="false"
            android:label="PegSolitaire"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.SESSION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:theme="@android:style/Theme.Dialog"
             android:label="About Peg Solitaire" 
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.ACCCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Statistics"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.STATISTICS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllUsers"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.ALLUSERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllGames"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.ALLGAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
		<activity
            android:name=".TopTen"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.TOPTEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        		<activity
            android:name=".RecentGames"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.RECENTGAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
                <activity
            android:name=".TopTenByFigure"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.TOPTENBYFIGURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        
         <activity
            android:name=".TopScoresByFigure"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.TOPSCORESBYFIGURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".TopScores"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.TOPSCORES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FiguresCreated"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.FIGURESCREATED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>        
        <activity
            android:name=".Figures"
            android:theme="@android:style/Theme.Dialog"
             android:label="Choose your Figures" 
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.FIGURES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".Share"
            android:theme="@android:style/Theme.Dialog"
            android:label="Share your Figures" 
            android:exported="false" >
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.SHARE" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                
         <activity
            android:name=".SessionCreation"
            android:exported="false"
            android:label="Creation Mode"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.SESSIONCREATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service android:name=".SimpleService" android:exported="false">
            <intent-filter>
                <action android:name="com.es.uam.eps.dadm.mario_pantoja.SimpleService" />
            </intent-filter>
￼
        </service>
        <service android:name=".TopScoresDownloaderTask" >
￼
        </service>
        
        <service android:name=".NewAccountTask" >

￼
        </service>
        
        <service android:name="com.es.uam.eps.dadm.mario_pantoja.Session$UploaderService">
   
		</service>
		
             <service android:name="com.es.uam.eps.dadm.mario_pantoja.Share$UploaderService">
   
		</service>
￼
    </application>

</manifest>